RewriteEngine on

# @see http://stackoverflow.com/questions/8638956/mod-rewrite-for-rest-api-on-php
RewriteCond %{REQUEST_URI} !(.*)\.(html|css|js|htc|pdf|jpg|jpeg|gif|png|ico)$ [NC]
RewriteRule ^articles.api(.*)$ index.php?handler=$1 [QSA,L]
